// Fonts

$headFont: 'Georgia', serif;
$logoSize: 32px;

$mainFont: 'Arial', sans-serif;
$mainSize: 15px;

$primaryColor: #F1CDB3;
$secondaryColor: #CDCDCD;
$mainColor: #fff;

// Dimensions

$mainWidth: 1280px;

// Backgrounds

$startScreenBg: radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), url(/src/img/startScreenBackground.jpg) no-repeat center center fixed;