button {
	font-family: $headFont;
	font-size: 17px;
	color: #292929;
	padding: 15px 45px;
	border-radius: 100px;
	align-self: flex-start;
	border: 2px solid $primaryColor;
}

.filledButton {
	background-color: $primaryColor;
}

.arrowButton {
	padding: 21px 17px;
	height: 52px;
}